<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorPaginaVedel</servlet-name>
        <servlet-class>controlador.ControladorPaginaVedel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginVedel</servlet-name>
        <servlet-class>controlador.ControladorLoginVedel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>controlador.prueba</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorPaginaVedel</servlet-name>
        <url-pattern>/ControladorPaginaVedel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginVedel</servlet-name>
        <url-pattern>/ControladorLoginVedel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
